<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Series</h1>
      <p>View the cinematic series that started the MCU</p>
      <a href="/series/new" class="btn btn-primary float-right">Add a series</a>
    </div>
  </header>
</div>

<div class="row text-center" style="display:flex; flex-wrap: wrap; margin-bottom: 100px;" >
  {{#each series}}
    <div class="col-md-3 col-sm-6 searchTerm" style="margin-bottom: 100px;">
      <h4>{{series_name}}</h4>
      <p>
        {{year}}
      </p>
      <!-- TODO: DELETE DOESNT WORK YET -->
      <form class="" action="/series/{{id}}/delete?_method=DELETE" method="POST">
        <button type="submit" name="button" class="btn btn-danger">Delete Series</button>
      </form>
    </div>
  {{/each}}
</div>
