<header class="jumbotron">
  <h1>Add a new series</h1>
</header>

<div class="container">
  <div class="row">
    <form class="" action="/series" method="post">
      <div class="form-group">
        <input class="form-control" type="text" name="seriesname" value="" placeholder="series name" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="year" value="" placeholder="Year released">
      </div>
      <div class="form-group">
        <button type="submit" name="button">Submit</button>
      </div>
    </form>
  </div>
</div>
