<h1>Hello</h1>

<form>
  <input type="button" name="" value="View all characters" onclick="window.location.href='/character'">
</form>

<form>
  <input type="button" name="" value="View all series" onclick="window.location.href='/series'">
</form>

<form>
  <input type="button" name="" value="View all planets" onclick="window.location.href='/planet'">
</form>

<form>
  <input type="button" name="" value="View all teams" onclick="window.location.href='/team'">
</form>
